<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body class="">
    <form class="container" action="/quizeroo" method="POST">
        <div class="next-container">
            <button class="next" type="submit">Awesome! The quiz is over. YOU have mastered your material!</button>
        </div>
     </form>
    

    
</body>

</html>